body { /**/
background: #AAAAAA;
  padding-top: 20px;
  padding-bottom: 20px;
}


.container{
  width: 92%; 
  padding-right: 0px;
  padding-left: 0px; 
  border-bottom:1px solid white;
}
.header {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  color: white;
}
.pull-left{
    padding-left: 0px;
    background-color:grey;
    background: none;
    color:#ffffff;
    border-radius:0;
}
.pull-right{
    padding-top: 10px;
    background-color:grey;
    background: none;
    color:#ffffff;
    border-radius:0;
}
.pull-left > li > a {
    color:#fff;
}
.pull-left > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.pull-left {
    color:#eeeeee;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: black; 
}
