.dotLines{
	stroke: grey;
	stroke-width: 2px;
	opacity: .3;
}
.dotMatematica{
	fill: #999999;
	stroke: none;
	stroke-width: 0px
	fill: grey;
}

.dotMatematica.active{
	color: black;
	fill: black;
	stroke: black;
}
.dotLinguagens{
	fill: none;
	stroke: #999999;
	stroke-width: 3px;
}

.dotLinguagens.active{
	stroke: black;
}
.dotHumanas{
	fill: #999999;
	stroke: none;
	stroke-width: 2px;
}
.dotHumanas.active{
	color: black;
	fill: black;
	stroke: black;
}


.dotNatureza{
	fill: none;
	stroke: grey;
	stroke-width: 2px;
}

.dotNatureza.active{
	color: black;
	stroke: black;
}
.dotRedacao{
	fill: none;
	stroke: grey;
	stroke-width: 2px;
	opacity: .8;
}

.dotRedacao.active{
	color: black;
	stroke: black;
}
.x-axis{
	fill: black;
}
.x-axis.domain{
	width: 30px;
}
.y-axis{
	fill: grey;
	stroke-width: 2px
}
.z-axis{
	fill: blue;
}
.y-axis text{
	font-size: 10px;
}
.textLabels{
	text-anchor: middle;
	font-family: courier;
	font-size: 12px;
	fill: grey;
}
.options{
	text-anchor: left;
	font-family: courier;
	font-size: 25px;
	fill: grey;	
}
.selected{
	stroke: grey;
	stroke-width: 3px;
	fill: none;	
}
.lineX{
	stroke: grey;
	stroke-width: 2px;
}
.separate{
	stroke: black;
}
svg{
	background: white;
}
.domain-2{
	stroke: grey ;
	stroke-width: 2px;
}