/*DISPERÇÃO - CSS*/

/*body{
	background: blue;
}*/

/*ícones*/
.dotLines{
	stroke: grey;
	stroke-width: 2px;
	opacity: .3;
}
.dotMatematica{
	fill: #999999;
	stroke: none;
	stroke-width: 0px
	fill: grey;
}

.dotMatematica.active{
	color: black;
	fill: black;
	stroke: black;
}
.dotLinguagens{
	fill: transparent;
	stroke: #999999;
	stroke-width: 3px;
}

.dotLinguagens.active{
	stroke: black;
}
.dotHumanas{
	fill: #999999;
	stroke: none;
	stroke-width: 2px;
}
.dotHumanas.active{
	color: black;
	fill: black;
	stroke: black;
}


.dotNatureza{
	fill: transparent;
	stroke: grey;
	stroke-width: 2px;
}

.dotNatureza.active{
	color: black;
	stroke: black;
}
.dotRedacao{
	fill: transparent;
	stroke: grey;
	stroke-width: 2px;
	opacity: .8;
}

.dotRedacao.active{
	color: black;
	stroke: black;
}





/*não sei o que é isso*/

.y-axis{
	fill: grey;
	stroke-width: 2px
}
/*números do y do gráfico*/
.y-axis text{
	font-size: 10px;
}
.y-axis-text{
	text-anchor: middle;
	font-family: courier;
	font-size: 20px;
	fill: grey;
}


/*abreviaturas dos estados no gráfico*/
.textLabels{
	text-anchor: middle;
	font-family: courier;
	font-size: 20px;
	fill: grey;
}
.x-axis-text{
	text-anchor: middle;
	font-family: courier;
	font-size: 20px;
	fill: grey;
}
.options{
	text-anchor: left;
	font-family: courier;
	font-size: 17px;
	fill: grey;	
	cursor: pointer;
}
.selected{
	stroke: grey;
	stroke-width: 1px;
	fill: none;	
}
.lineX{
	stroke: #ddd;
	stroke-width: 1px;
}
.separate{
	stroke: black;
}
svg{
	background: white;
}
.domain-2{
	stroke: grey ;
	stroke-width: 1px;
}
